﻿@model IEnumerable<WebApplication1.Student>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <h3>Students</h3>

    <table style="width: 100%;">
        <tr>
            <th>Student</th>
            <th>Birthday</th>
            <th>Enterance date</th>
            <th>Age</th>
            <th>Faculty</th>
            <th>Index group</th>
            <th>Specialization</th>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@($"{s.LastName} {s.Initials}")</td>
                <td>@($"{s.Birthday}")</td>
                <td>@($"{s.EnterDate}")</td>
                <td>@($"{s.Age}")</td>
                <td>@($"{s.Faculty}")</td>
                <td>@($"{s.IndexGroup}")</td>
                <td>@($"{s.Specialization}")</td>
            </tr>
        }
    </table>